/* цвет основного текста  #757575  */
/* вторичный цвет #212121 */
/* цвет логотпа, ссылок при наведении и акцент #2196F3 */
/* белый цвет #FFFFFF */
/*цвет в футере rgba(255, 255, 255, 0.6);*/
/* цвет фона кнопок #F5F4FA */

/* Стили для index.html */

/* Герой */
.hero-title {
  color: var(--title-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Секции */
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Преимущества */
.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
}

.feature-list .link {
  background-color: var(--bg-grey-color);
}
.feature-list .link:hover,
.feature-list .link:focus {
  background-color: var(--accent-color);
}

/* Чем мы занимаемся */
.skill-list .title {
  background-color: var(--bg-body-grey-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}

/* Наша команда */
.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-list .specialty {
  font-size: 16px;
  line-height: 1.19;
}
.team {
  background-color: var(--bg-grey-color);
}
.socials .link:hover,
.socials .link:focus {
  background-color: var(--accent-color);
}
